.roda {
  border: 2px solid black;
  border-radius: 50%;
  height: 55vw;
  margin-left: 50px;
  max-height: 500px;
  max-width: 500px;
  position: absolute;
  width: 55vw;
}

.linha {
  background-color: black;
  height: 2px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform-origin: 0% 0%;
  width: 50%;
}

.linha:nth-of-type(2) {
  transform: rotate(60deg);
}

.linha:nth-of-type(3) {
  transform: rotate(120deg);
}

.linha:nth-of-type(4) {
  transform: rotate(180deg);
}

.linha:nth-of-type(5) {
  transform: rotate(240deg);
}

.linha:nth-of-type(6) {
  transform: rotate(300deg);
}
